.hero {
  margin: 30px 120px;
    background-color: #e0e0e0; 
    padding: 200px 200px;
    border-radius: 8px; 
  
    .display-4 {
      margin-top: 200px;
      margin-bottom: 20px;
      color: #333;
    }
  
    .lead {
      margin-top: 200px;
      color: #555;
      margin-bottom: 30px;
    }
  
    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }
  }
  